@import '../../assets/scsses/config';

.banner {
  width: 1700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 0;
}

.image {
  height: 735px;
  width: 100%;
}

.container {
}

.title {
  font-size: 4rem;
  line-height: 1.35;
  margin-bottom: 2.4rem;
}

.content {
  font-size: 1.6rem !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
}
