@import '../../assets/scsses/config';

.buttonBox {
  padding-left: 5%;
}

.button {
  width: 40px;
  height: 40px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox {
  width: 90%;
  min-height: 200px;
  height: 90%;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}
