@import '../../assets/scsses/config';

.card {
  display: block;
  background: $blue-light-grey1;
  transition: 0.3s;
  border-radius: 5px;
  width: 270px;
  padding: 10px 10px;
  margin: 5px 15px 15px 5px;
  float: left;
}

.container {
  padding: 2px 16px;
}

.image {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.title {
  font-size: 14px;
}

.subtitle {
  font-size: 20px;
}

.content {
  font-size: 15px;
}
