@import '../../assets/scsses/config';

.sideBar {
  margin-top: 50px;
  position: fixed;
  width: 200px;
  align-items: right;
  padding-left: 20px;
  background: #0f2b0f;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.sideBarLink {
  display: block;
  margin: 0 calc(20px * -1);
  padding: 8px 20px;
  border-radius: 10px;
  color: #cadbbd;
  text-decoration: none;

  &:hover {
    background: #a6ff4d;
    color: #fffffe;
    transform: translateY(-2px);
    transition: 1s;
  }

  &:not {
    color: #889e6e;
    background: revert;
    transform: none;
  }
}
.sideBarLink > p {
  color: #a6ff4d;
  background: #4e524c;
  font-weight: bold;
}
.sideBarItem {
  margin: 8;
}
.sideBarList {
  // display: ${(p) => (p.expanded ? 'block' : 'none')};
  padding-left: 20px;
  list-style: none;
}
