@import '../../assets/scsses/config';
.sideBarArea {
  width: 180px;
  height: 100%;
  background: $grey-sidebar;
}
.sideBar {
  top: 75px;
  position: fixed;
  width: 180px;
}

.sideBarOutside {
  display: block;
  position: fixed;
  top: 50;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.sideBarLink {
  display: block;
  padding: 0px 20px 0px 0px;
  font-weight: bold;
  font-size: 25px;
  text-align: end;
  word-wrap: break-word;
  color: #767575;
  text-decoration: none;

  &:hover {
    background: $primary-blue;
    color: #fffffe;
    transform: translateY(-2px);
    transition: 1s;
  }

  &:not {
    color: #889e6e;
    background: revert;
    transform: none;
  }
}
.sideBarLink > span {
  color: inherit;
}
.sideBarLink > p {
  color: #a6ff4d;
  background: #83835d;
  font-weight: bold;
}
.sideBarItem {
  margin-top: 0px;
}
.sideBarList {
  padding-left: 0px;
  list-style: none;
}
