@import '../../assets/scsses/config';

.sideBar {
  margin-top: 50px;
  position: fixed;
  width: 180px;
  padding-left: 10px;
  background: #c9c990;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.sideBarLink {
  display: block;
  margin: 0px;
  padding: 10px 0px 0px 10px;
  border-radius: 25px 0px 0px 25px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;

  &:hover {
    background: #a6ff4d;
    color: #fffffe;
    transform: translateY(-2px);
    transition: 1s;
  }

  &:not {
    color: #889e6e;
    background: revert;
    transform: none;
  }
}
.sideBarLink > p {
  color: #a6ff4d;
  background: #83835d;
  font-weight: bold;
}
.sideBarItem {
  margin-top: 10px;
  margin: 8;
}
.sideBarList {
  padding-left: 20px;
  list-style: none;
}
