@import '../../assets/scsses/config';
* {
  text-align: -webkit-match-parent;
}
a {
  color: black !important;
  text-decoration: none !important;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: beige;
  z-index: 100;
}
.logo {
  display: block;
  font-size: 30px;
  color: black;
}
.logoImg {
  margin: 0, 0, 0, 0;
  fill: inherit;
  fill-rule: nonzero;
  max-width: 46px;
  max-height: 46px;
}
.nav {
  display: flex;
}
.myPageImg {
  margin: 0, 0, 170, 36;
  fill: inherit;
  fill-rule: nonzero;
  max-width: 50px;
  max-height: 50px;
}
.topBarButton {
  display: inline-block;
  font-size: 20px;
  margin-left: 2vw;
  margin-right: 2vw;
  color: black;
}
.topBarButton > span {
  position: relative;
  top: 12%;
}
