@import '../../assets/scsses/config';
* {
  text-align: -webkit-match-parent;
}
a {
  text-decoration: none !important;
}
.header {
  position: fixed;
  padding-left: 1%;
  padding-right: 1%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: $primary-blue;
  z-index: 100;
}

.logoImg {
  width: 100%;
  height: 100%;
  max-width: 220px;
}
.nav {
  display: flex;
}
.myPageImg {
  margin: 0, 0, 170, 36;
  fill: inherit;
  fill-rule: nonzero;
  max-width: 50px;
  max-height: 50px;
}

.topBarButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  color: white;
}
