@import '../../assets/scsses/config';

html,
body {
  height: 100%;
}
.mainBlock {
  position: relative;
  vertical-align: middle;
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  margin-top: 50px;
}
.sideBarButton {
  position: absolute;
  border: fade-out($color: #000000, $amount: 0);
  z-index: 10;
}
.logoImg {
  position: fixed;
  margin: 0, 0, 0, 0;
  max-width: 46px;
  max-height: 46px;
}
.sideBarArea {
  position: absolute;
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
}
.sideBarAreaHide {
  position: absolute;
  width: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  visibility: hidden;
}
.mainContentArea {
  position: relative;
  vertical-align: middle;
  margin-right: 0;
}
