@import '../../assets/scsses/config';
.mainBlock {
  position: relative;
  margin-top: 0px;
  min-height: 150vh;
}
.sideBarButton {
  position: absolute;
  border: fade-out($color: #000000, $amount: 0);
  z-index: 10;
}
.logoImg {
  position: fixed;
  margin: 0, 0, 0, 0;
  max-width: 46px;
  max-height: 46px;
}
.sideBarArea {
  position: absolute;
  width: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
}
.sideBarAreaHide {
  position: absolute;
  width: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  visibility: hidden;
}
.mainContentArea {
  position: absolute;
  vertical-align: middle;
  // width: ;
  top: 50px;
  left: 180px;
  right: 0;
  bottom: 0;
  z-index: -1;
}
