@import '../../assets/scsses/config';

.linkButtonSet {
  /* background-color: purple; */
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* min-width: ; */
}
.linkButton {
  background-color: white;
  position: relative;
  height: 5vh;
  width: 10vh;
  color: black;
}
.footer {
  position: relative;
  min-height: 20vh;
  width: 100%;
  background-color: gray;
  font-size: 12;
  color: white;
}
