@import '../../assets/scsses/config';
* {
  text-align: -webkit-match-parent;
}
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  background-color: gray;
}
.linkButtonSet {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linkButton {
  background-color: white;
  position: relative;
  height: 5vh;
  width: 10vh;
  color: black;
}
