@import '../../assets/scsses/config';
* {
  text-align: -webkit-match-parent;
}
.footer {
  width: -webkit-fill-available;
  min-height: 100px;
  position: inherit;
  background-color: gray;
  z-index: 100;
}
.linkButtonSet {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linkButton {
  background-color: white;
  position: relative;
  height: 5vh;
  width: 10vh;
  color: black;
}
