.carouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absoulte;
  background-color: lightslategray;
  color: #fff;
  object-fit: cover;
}
